#  <font color=red> Module_23_連接MySQL與基本操作</font>

增刪查改（CRUD），全稱增加（Create）、刪除（Delete）、查詢（Read）、改正（Update），在電腦程式語言中是一連串常見的動作行為，而其行為通常是為了針對某個特定資源所作出的舉動（例如：建立資料、讀取資料等）。這四個行為最常見的用途是在使用SQL資料庫與網站的API埠口的時候。這個詞語（CRUD）最早被記載於James Martin所撰寫的Managing the Data-base Environment書中。<br>
<div style="margin-top:15px;color:#9D9D9D">
    我們來試著利用 pymysql 套件，寫 py 檔來對 MySQL 做 CRUD
</div>

## MySQL的基本操作_insert

In [3]:
!pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
     |████████████████████████████████| 43 kB 1.2 MB/s eta 0:00:01
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2

In [2]:
import pymysql
from datetime import datetime

# 連接資料庫
host = 'localhost'
port = 3306
user = 'root'
passwd = 'Billy1102'
db = 'testdb'
charset = 'utf8mb4'

conn = pymysql.connect(host = host, port = port, user = user, passwd = passwd, db = db, charset = charset)
print('Successfully connected!')

# 使用 cursor 物件來進行操作
cursor = conn.cursor()

Successfully connected!

---

In [ ]:
# 試著 INSERT 一筆資料
# 注意 TABLE 欄位的資料型態
# 先寫好 SQL 語法
sql = """
INSERT INTO Staff (ID, Name, DeptId, Age, Gender, Salary, recordDt)
VALUES ('009', 'Mike', '002', 45, 'M', 60000, '2020-04-24 14:59:57');
"""

# 將指令放進 cursor 物件，並執行
cursor.execute(sql)

In [ ]:
# 產生現在時間的方式如下
t = datetime.now()
t

In [ ]:
dt = t.strftime('%Y-%m-%d %H:%M:%S')
dt

In [ ]:
# 試著再 INSERT 一筆資料
sql = """
INSERT INTO Staff (ID, Name, DeptId, Age, Gender, Salary, recordDt)
VALUES ('010', 'Judy', '002', 30, 'F', 48000, '{}');
""".format(dt)

# 將指令放進 cursor 物件，並執行
cursor.execute(sql)

In [ ]:
# 因 pymysql 預設不會自動 commit，故要記得 commit，這樣才是真的執行出去
conn.commit()

In [ ]:
# 關閉連線
cursor.close()
conn.close()

---

## MySQL的基本操作_select

In [ ]:
# 連接資料庫
import pymysql

host = 'localhost'
port = 3306
user = 'root'
passwd = '輸入自己的密碼'
db = 'testdb'
charset = 'utf8mb4'

conn = pymysql.connect(host = host, port = port, user = user, passwd = passwd, db = db, charset = charset)
print('Successfully connected!')

# 使用 cursor 物件來進行操作
cursor = conn.cursor()

In [ ]:
# 試著將資料表中的資料取出
# 先寫好 SQL 語法
sql = """
SELECT * FROM Staff;
"""

# 將指令放進 cursor 物件，並執行
cursor.execute(sql)

In [ ]:
# 將查詢結果取出 
# 在執行一次會是空 tuple
data = cursor.fetchall()

In [ ]:
data

In [ ]:
# 都換成列表來做點簡單的操作
dataList = []
for i in range(len(data)):
    dataList.append(list(data[i]))
dataList

In [ ]:
dataList[1][6]

In [ ]:
dataList[1][6] = dataList[1][6].strftime('%Y-%m-%d %H:%M:%S') # 變成字串
dataList[0][6] = dataList[0][6].strftime('%Y-%m-%d %H:%M:%S') # 變成字串

In [ ]:
dataList

In [ ]:
# 關閉連線
cursor.close()
conn.close()

## MySQL的基本操作_update

In [ ]:
# 連接資料庫
import pymysql

host = 'localhost'
port = 3306
user = 'root'
passwd = '輸入自己的密碼'
db = 'testdb'
charset = 'utf8mb4'

conn = pymysql.connect(host = host, port = port, user = user, passwd = passwd, db = db, charset = charset)
print('Successfully connected!')

# 使用 cursor 物件來進行操作
cursor = conn.cursor()

In [ ]:
# 先寫好 SQL 語法
sql = """
UPDATE Staff SET Salary = Salary * 1.1;
"""

# 將指令放進 cursor 物件，並執行
cursor.execute(sql)

In [ ]:
# 因 pymysql 預設不會自動 commit，故要記得 commit，這樣才是真的執行出去
conn.commit()

In [ ]:
cursor.close()
conn.close()

## MySQL的基本操作_delete

# 要在 workbench 刪除資料，要先設定 SET SQL_SAFE_UPDATES = 0 ，把安全模式關掉才能刪除
# 完成後再打開 SET SQL_SAFE_UPDATES = 1

In [ ]:
# 連接資料庫
import pymysql

host = 'localhost'
port = 3306
user = 'root'
passwd = '輸入自己的密碼'
db = 'testdb'
charset = 'utf8mb4'

conn = pymysql.connect(host = host, port = port, user = user, passwd = passwd, db = db, charset = charset)
print('Successfully connected!')

cursor = conn.cursor()

In [ ]:
# 先寫好 SQL 語法
sql = """
DELETE FROM Staff
where ID = 09;
"""

# 將指令放進 cursor 物件，並執行
cursor.execute(sql)

In [ ]:
# 因 pymysql 預設不會自動 commit，故要記得 commit，這樣才是真的執行出去
conn.commit()

In [ ]:
cursor.close()
conn.close()